<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Employee List</title>
</head>
<body>
<div layout:fragment="content">
    <h2>EMPLOYEE LIST</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Company</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"/>
            <td><a th:href="'/employee/detail/' + ${employee.id}" th:text="${employee.name}"/></td>
            <td><img th:src="${'/images/' + employee.image}" width="100" height="100"/></td>
            <td th:text="${employee.company != null ? employee.company.name : 'N/A'}"></td>
            <td><a th:href="'/employee/update/' + ${employee.id}">UPDATE</a></td>
            <td><a th:href="'/employee/delete/' + ${employee.id}">DELETE</a></td>
        </tr>
    </table>
</div>
</body>
</html>