<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
<div>
    <h2>UPDATE EMPLOYEE</h2>
    <form method="post" action="/save" th:object="${employee}">
        <input type="hidden" th:field="${employee.id}"/>
        <p>
            <label>Employee name:</label>
            <input type="text" th:field="${employee.name}"/>
        </p>
        <p>
            <label>Employee age:</label>
            <input type="number" th:field="${employee.age}"/>
        </p>
        <p>
            <label>Employee image:<br>
                <img th:src="'/images/' + ${employee.image}" width="100" height="100"/>
                <input type="text" th:field="${employee.image}"/>
            </label>
        </p>
        <p>
            <label>Employee address:
                <input type="text" th:field="${employee.address}"/>
            </label>
        </p>
        <p>
            <button type="submit">UPDATE</button>
        </p>
    </form>
</div>
</body>
</html>